<!-- This template will render when user is logged in and user will able to like posts and see how may like a post contains -->
{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
                {{likelist[post.id -1]}}
            {% if upvote == [] %}
                <a href = "{{url_for('like_post' , post_id = post.id , user_id = current_user.id)}}"> 
                <i class="fa fa-thumbs-o-up" aria-hidden="true" style = "color : black ;border : 0px"></i>
                </a>
            {% else %}
                {% if post.id in upvote%}
                  <i class="fa fa-thumbs-up" style = "color:red ; border:0px ;"></i>
                {% else %}
                  <a href = "{{url_for('like_post' , post_id = post.id , user_id = current_user.id)}}"> 
                <i class="fa fa-thumbs-o-up" aria-hidden="true" style = "color : black ;border : 0px"></i>
                </a>
                
                {% endif %}

                
            {% endif %}
          </div>
        </article>
    {% endfor %}

  <!-- this part contains pagination where numbers will be like page no 1 and last page will be printed
  and only one page on left of selected page and one on the right-->  
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}